version: '3.8'

services:
  app:
    image: npm:app
    container_name: repositorioaws-app
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    restart: unless-stopped